## Basic

In [211]:
## Adding Comment :
# - Comments can be used to explain Python code.
#- To add single line comment we can use  ' # ' 

# This is single line commeent.

# - To add multiple line comment we can use Triple (single(') or double(")) quotes.
# 1)

In [212]:
'''
Multiple
line
comment
'''

'\nMultiple\nline\ncomment\n'

In [213]:
# 2) 
"""
Multiple
line
comment
"""

'\nMultiple\nline\ncomment\n'

In [214]:
## Print function :
# Python was designed for readability, and has some similarities to the English language with influence from mathematics.
print("Hello World!")
print("Welcome")

Hello World!
Welcome

## Variable assignment : 

    Variable is used to store value and we use '=' i.e. assignment operator to assign value to it.

In [215]:
a = 5
print(a)

5

In [216]:
a=5
a

5

In [217]:
b = "Python"
print(b)

Python

'''
 We have to take care of following things while writing identifiers
    1. It can be of any length . 
    2. It can be combination of lower cases (a-z) , upper cases (A-Z) and digits (0-9).
    3. It can't be start with digit.
    4. It can't be include special symbols like { !, @, #, $ , % }, etc
    5. We can use '_' i.e underscore in identifire for attaching two strings or one string and one number.
    6. We can't give space between letters, words or between letter and digit.
    7. We can't use python keywords as a python identifier

Python keywords :

    Keywords are the reserved words in Python.
    We cannot use a keyword as a variable name, function name or any other identifier. They are used to define the
    syntax and structure of the Python language.
    In Python, keywords are case sensitive.
    All the keywords except True, False and None are in lowercase and they must be written as they are.

    eg. in , and , or , if , else , elif , def , while , break , True , False , etc .**

Python identifiers
        An identifier is a name given to entities like class, functions, variables, etc. It helps to differentiate one entity
        from another.
Examples 
    We can write identifier of any length like 
    - myname
    - mynameis
'''

In [218]:
myname = "Chinmay"
print(myname)

Chinmay

In [219]:
mynameis = "Chinmay D"
print(mynameis)

Chinmay D

In [220]:
# Identifiers using underscore  
# - my_name 
# - my_city

my_name = "Ganesh"
print(my_name)

my_city = "pune"
print(my_city)

Ganesh
pune

In [221]:
# We can combine letters and words while writing identifiers
# - Mybirth22
Mybirth22 ="22 Aug"
print(Mybirth22)

22 Aug

In [222]:
# We can't start our identifier by digit
# - 1stvariable 
# - 19thnumber

In [223]:
# We can't include any special symbol at any position while writing identifier 
# - name@
# - hello!
# - time@2pm
# - $rupees
# - #brand

In [224]:
# We can't write identifier using space between characcters 
# - my name 
# - my number 
# - my village

In [225]:
# Assigning multiple values to multiple variables :-
a, b, c = 20, 3.14, "ABC"
print(a)
print(b)
print(c)
print(a+20)
print(type(a))
print(type(b))
print(type(c))

20
3.14
ABC
40
<class 'int'>
<class 'float'>
<class 'str'>

In [226]:
#Assign the same value to multiple variables at once :-
x = y = z = 100
print (x)
print (y)
print (z)

100
100
100

In [227]:
print(x,y,z)

100 100 100

In [228]:
print(x,y,z,sep =" ,")

100 ,100 ,100

## Data-Types

Data-Types:- 1) Numbers (integers, float, complex)
             2) String 
             3) lists
             4) Tuple
             5) set
             6) Dictionary

Datatypes are classified into two things
    1) Immutable and
    2) Mutable
Immutable data value: A data value which cannot be modified.
mutable data value : A data value which can be modified.

Lists and dictionaries are mutable. strings and tuples are Immutable.

To verify the type of any object in Python, use the type() function:

In [229]:
# eg.
a = 5
print(a)
print(type(a))

5
<class 'int'>

In [230]:
b = "5"
print(b)
print(type(b))

5
<class 'str'>

'''
Numbers (integers, float, complex)

    Number data types store numeric values.
           1) int
           2) float
           3) complex
'''
# 1) int
#     Integer is a whole number, positive or negative or zero, without decimals.

In [231]:
a = 222
print(a)
print(type(a))

222
<class 'int'>

In [232]:
b = 0
print(b)
print(type(b))

0
<class 'int'>

In [233]:
a = -222
print(a)
print(type(b))

-222
<class 'int'>

In [234]:
# 2) float
#    Float is a number, positive or negative or zero, containing one or more decimals.

In [235]:
a = 222.222
print(a)
print(type(a))

222.222
<class 'float'>

In [236]:
b = 0.0
print(b)
print(type(b))

0.0
<class 'float'>

In [237]:
a = -1.2
print(a)
print(type(b))

-1.2
<class 'float'>

In [238]:
# 3) complex
#   Complex numbers are written with a "j" as the imaginary part.

In [239]:
a = 5 + 3j
print(a)
print(type(a))

(5+3j)
<class 'complex'>

In [240]:
b = 8j
print(b)
print(type(b))

8j
<class 'complex'>

In [241]:
a = -1.2j + 8
print(a)
print(type(b))

(8-1.2j)
<class 'complex'>

In [242]:
# del a
# print(a) # NameError name 'a' is not defined

## Python Casting


Python Casting (type conversion)

In [243]:
# value assign
a = 6
b = a
print(b,type(b))

6 <class 'int'>

In [244]:
#Python Casting:- We can change int into float, float into int

a = 10.2
print(a,type(a))

10.2 <class 'float'>

In [245]:
b = float(a)
print(b,type(b))

10.2 <class 'float'>

In [246]:
a = 12.0
print(a,type(a))

12.0 <class 'float'>

In [247]:
b = int(a)
print(b,type(b))

12 <class 'int'>

## Operators:-

'''
Operators:- 
        Operators are special symbols in Python that carry out arithmetic or logical computation. 
        The value that the operator operates on is called the operand.
    1. Arithmetic
    2. Comparison
    3. Logical
    4. Special operators :- 1) Identity operators
                            2) Membership operators
    5. Assignment operators:- 
'''

## 1) Arithmetic Operators


1) Arithmetic Operators :-
    Operator	Operation	    Description	
    +	    Addition	    Adds values on either side of the operator.	
    -	    Subtraction	    Subtracts right hand operand from left hand operand.	
    *	    Multiplication	Multiplies values on either side of the operator	
    /	    Division	    Divides left hand operand by right hand operand	
    %	    Modulus	        Divides left hand operand by right hand operand and returns remainder	
    **	    Exponent    	Performs exponential (power) calculation on operators	
    //	    Floor Division	The division of operands where the result is the quotient in which
                            the digits after the decimal point are removed.

In [248]:
a = 10
b = 2 
print(a + b) # Addition
print(a - b) # Subtraction	
print(a * b) # Multiplication	
print(a / b) #Division

12
8
20
5.0

In [249]:
# Modulus 
a = 10
b = 2 
c = 3
print(a%b) # Remainder is 0
print(a%c) # Remainder is 1

0
1

In [250]:
# Exponent
a = 2
b = 4
print(a**b)
print(a*a*a*a)
print("floor")

16
16
floor

In [251]:
# Floor Division (after decimal we remove)
a = 32
b = 3
print(a//b)

10

In [252]:
x = 15
y = 4
print('x + y =',x+y)
print('x - y =',x-y)
print('x * y =',x*y)
print('x / y =',x/y)
print('x // y =',x//y)
print('x ** y =',x**y)

x + y = 19
x - y = 11
x * y = 60
x / y = 3.75
x // y = 3
x ** y = 50625


## 2) Comparison operators:


2) Comparison operators:-

    Operator	    Description	
    ==	        If the values of two operands are equal, then the condition becomes true.	
    !=	        If values of two operands are not equal, then condition becomes true.
    >	        If the value of left operand is greater than the value of right operand, then condition becomes true.	
    <	        If the value of left operand is less than the value of right operand, then condition becomes true.	
    >=	        If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.	
    <=	        If the value of left operand is less than or equal to the value of right operand, then condition becomes true.

In [253]:
a = 55
b = 45
print(a == b) # False
print(a != b) # True
print(a > b) # True
print(a < b) #False
print(a >= b) #True
print(a <= b) #False

False
True
True
False
True
False

In [254]:
x = 20
y = 30
print('Is x greater than y :- ',x>y)
print('Is x less than y :- ',x<y)
print('Is x equal to y :- ',x==y)
print('Is x not equal to y :- ',x!=y)
print('Is x greater than or equal to y :- ',x>=y)
print('Is x less than or equal to y :- ',x<=y)

Is x greater than y :-  False
Is x less than y :-  True
Is x equal to y :-  False
Is x not equal to y :-  True
Is x greater than or equal to y :-  False
Is x less than or equal to y :-  True

In [255]:
x = 10
y = 12
print('x > y is',x>y)
print('x < y is',x<y)
print('x == y is',x==y)
print('x != y is',x!=y)
print('x >= y is',x>=y)
print('x <= y is',x<=y)

x > y is False
x < y is True
x == y is False
x != y is True
x >= y is False
x <= y is True

## 3) Logical Operator

3) Logical Operator :-

    Operator	             Description	
    and   Logical AND	    If both the operands are true then condition becomes true.	(a and b) is true.
    or    Logical OR	    If any of the two operands are non-zero then condition becomes true. (a or b) is true.
    not   Logical NOT	    Used to reverse the logical state of its operand.

In [256]:
x = True
y = False
print('Logical AND operation :- ',x and y) # True if both values are true
print('Logical OR operation :- ',x or y) # True if either of the values is true
print('NOT operation :- ',not x ) # True if operand is false

Logical AND operation :-  False
Logical OR operation :-  True
NOT operation :-  False

# and
# True  and  True  ==> True
# False and  True  ==> False
# True  and  False ==> False
# False and  False ==> False

In [257]:
print(12 < 13 and 7 == 7)   # True
print(12 >= 13 and 7 != 6)  # False
print(12 == 11 and 7 == 8)  # False
print(12 > 11 and 7 == 8)   #False

True
False
False
False

#or

# True  or  True  ==> True
# False or  True  ==> True
# True  or  False ==> True
# False or  False ==> False

In [258]:
print(12 < 13 or 7 == 7)    # True
print(12 >= 13 or 7 != 6)   # True
print(12 == 11 or 7 == 8)   # False
print(12 > 11 or 7 == 8)    # True

True
True
False
True

# not 

#True ==> False
#False ==> True

In [259]:
print(not True)
print(not False)
print(not 8==8)

False
True
False

There are two built-in functions for multiple condition

all() :- True if all True otherwise False
any() :- True if at least one is True

The all() function returns True if all elements in the iterable are truthy (i.e., non-zero, non-empty, or True), or False if at least one element is falsy (i.e., zero, empty, or False)

In [260]:
all((12 < 13 , 7 == 7,12 <= 13 , 7 != 6))

True

In [261]:
all((12 < 13 , 7 == 7,12 <= 13 , 7 != 6 , 0))   #why?

False

In [262]:
all((12 < 13 , 7 == 7,12 <= 13 , 7 != 6 , -66))

True

In [263]:
bool(0)

False

In [264]:
bool(1)

True

In [265]:
bool()

False

In [266]:
bool(-100)

True

In [267]:
any((12 < 13 , 7 == 7,12 <= 13 , 7 != 6 , 0))

True

## 4) Special operators

4) Special operators :- 1) Identity operators
                        2) Membership operators

1) Identity operators

    Operator	Description	
    is 	    Returns true if both variables are the same object	
   vs is not  	Returns true if both variables are not the same object

In [268]:
# eg
x = 10
y = 11 
z = 10

In [269]:
type(x)

int

In [270]:
id(x)

2856824236624

In [271]:
 x == z

True

In [272]:
x is z

True

In [273]:
a = b =5

In [274]:
a

5

In [275]:
a=b=c=d=e=12

In [276]:
d

12

In [277]:
aa =5 
bb =6
cc = 8

In [278]:
aa, bb,cc = 5,4,4

In [279]:
aa

5

In [280]:
id(y)

2856824236656

In [281]:
# eg
x = 10
y = 11 
z = 10

In [282]:
print(id(x))
print(id(y))
print(id(z))

2856824236624
2856824236656
2856824236624

In [283]:
print(x is y) 
print(x is z)

False
True

In [284]:
name = "ABC"
name

'ABC'

In [285]:
id(name)

2856826498288

In [286]:
# eg
x = 555
y = 555 
z = 300

In [287]:
print(id(x))
print(id(y))
print(id(z))

2856939919248
2856939918032
2856939918800

In [288]:
print(x is y) 
print(x is z)

False
False


2) Membership Operator

    Operator	   Description	
      in	        Evaluates to true if it finds a variable in the specified sequence and false otherwise.
      not in	    Evaluates to true if it does not finds a variable in the specified sequence and false otherwise.

In [289]:
a = 'h'
b = 'hello'
c = 'world'
print(a in b)
print(a in c)
print(a not in c)

True
False
True

## 5) Assignment operators

'''
5) Assignment operators:-

        Operator	    Description	                                                            
    =	                Assigns values from right side operands to left side operand	
    +=  Add AND	        It adds right operand to the left operand and assign the result to left operand	
    -=  Subtract AND	It subtracts right operand from the left operand and assign the result to left operand	
    *=  Multiply AND	It multiplies right operand with the left operand and assign the result to left operand	
    /=  Divide AND	    It divides left operand with the right operand and assign the result to left operand	
    %=  Modulus AND	    It takes modulus using two operands and assign the result to left operand	c %= a is equivalent to 
    **=  Exponent AND	Performs exponential (power) calculation on operators and assign value to the left operand	
    //=  Floor Division	It performs floor division on operators and assign value to the left operand
'''

In [290]:
 a = 10

In [291]:
a

10

In [292]:
a=5
b=2

In [293]:
print(a,b)

5 2

In [294]:
a += 2 # a = a+2
a

7

In [295]:
a += b  #==== a = a+b
a -= b   #==== a = a-b

a *= b   #==== a = a*b

a /= b   #==== a = a/b
a **= b   #==== a= a ** b
a //= b   #==== a= a //b

In [296]:
a=3
b= 2

In [297]:
a /= b # a= a/b
a

1.5

In [298]:
a

1.5

In [299]:
b=10

In [300]:
c=5

In [301]:
c +=20  # c =c+20

In [302]:
c

25

In [303]:
c -=20 
c

5

In [304]:
c -=20 
c

-15

In [305]:
c %=20 #=== c = c % 20
c

5

In [306]:
c %=20 #=== c = c % 20
c

5

In [307]:
c =c+20
c

25

In [308]:
 a = a+b   #===== a+=b

In [309]:
a=3
b= 2

In [310]:
a = a+b
a

5

In [311]:
print(a,b)

5 2

In [312]:
a//=b # == a = a// b === a = 3.5 // 2
a

2

In [313]:
3.5 / 2

1.75

In [314]:
# eg.
z=5
z+=2
print(z)

7

In [315]:
z-=3
print(z)

4

In [316]:
z*=2
print(z)

8

In [317]:
z**=2
print(z)

64

In [318]:
z/=2
print(z)

32.0

In [319]:
z//=2
print(z)

16.0

In [320]:
z%=2
print(z)

0.0

In [321]:
# eg.
a = 2
b = 2
c = 10
print(a)
a = 3
print(a)

2
3

In [322]:
a +=1
print(a)
b -= 1

4

In [323]:
a +=1
print(a)

5

In [324]:
b -= 1
print(b)

0

In [325]:
b *= 2
print(b)

0

In [326]:
b /= 2
print(b)

0.0

In [327]:
c %= 2
print(c)

0

In [328]:
c +=2
c **=2
print(c)

4

In [329]:
c //=2
print(c)

2