## Basic

In [60]:
## Adding Comment :
# - Comments can be used to explain Python code.
#- To add single line comment we can use  ' # ' 

# This is single line commeent.

# - To add multiple line comment we can use Triple (single(') or double(")) quotes.
# 1)

In [61]:
'''
Multiple
line
comment
'''

'\nMultiple\nline\ncomment\n'

In [62]:
# 2) 
"""
Multiple
line
comment
"""

'\nMultiple\nline\ncomment\n'

In [63]:
## Print function :
# Python was designed for readability, and has some similarities to the English language with influence from mathematics.
print("Hello World!")
print("Welcome")

Hello World!
Welcome

## Variable assignment : 

    Variable is used to store value and we use '=' i.e. assignment operator to assign value to it.

In [64]:
a = 5
print(a)

5

In [65]:
a=5
a

5

In [66]:
b = "Python"
print(b)

Python

In [67]:
'''
 We have to take care of following things while writing identifiers
    1. It can be of any length . 
    2. It can be combination of lower cases (a-z) , upper cases (A-Z) and digits (0-9).
    3. It can't be start with digit.
    4. It can't be include special symbols like { !, @, #, $ , % }, etc
    5. We can use '_' i.e underscore in identifire for attaching two strings or one string and one number.
    6. We can't give space between letters, words or between letter and digit.
    7. We can't use python keywords as a python identifier

Python keywords :

    Keywords are the reserved words in Python.
    We cannot use a keyword as a variable name, function name or any other identifier. They are used to define the
    syntax and structure of the Python language.
    In Python, keywords are case sensitive.
    All the keywords except True, False and None are in lowercase and they must be written as they are.

    eg. in , and , or , if , else , elif , def , while , break , True , False , etc .**

Python identifiers
        An identifier is a name given to entities like class, functions, variables, etc. It helps to differentiate one entity
        from another.
Examples 
    We can write identifier of any length like 
    - myname
    - mynameis
'''

"\n We have to take care of following things while writing identifiers\n    1. It can be of any length . \n    2. It can be combination of lower cases (a-z) , upper cases (A-Z) and digits (0-9).\n    3. It can't be start with digit.\n    4. It can't be include special symbols like { !, @, #, $ , % }, etc\n    5. We can use '_' i.e underscore in identifire for attaching two strings or one string and one number.\n    6. We can't give space between letters, words or between letter and digit.\n    7. We can't use python keywords as a python identifier\n\nPython keywords :\n\n    Keywords are the reserved words in Python.\n    We cannot use a keyword as a variable name, function name or any other identifier. They are used to define the\n    syntax and structure of the Python language.\n    In Python, keywords are case sensitive.\n    All the keywords except True, False and None are in lowercase and they must be written as they are.\n\n    eg. in , and , or , if , else , elif , def , while , break , True , False , etc .**\n\nPython identifiers\n        An identifier is a name given to entities like class, functions, variables, etc. It helps to differentiate one entity\n        from another.\nExamples \n    We can write identifier of any length like \n    - myname\n    - mynameis\n"

In [68]:
myname = "Chinmay"
print(myname)

Chinmay

In [69]:
mynameis = "Chinmay D"
print(mynameis)

Chinmay D

In [70]:
# Identifiers using underscore  
# - my_name 
# - my_city

my_name = "Ganesh"
print(my_name)

my_city = "pune"
print(my_city)

Ganesh
pune

In [71]:
# We can combine letters and words while writing identifiers
# - Mybirth22
Mybirth22 ="22 Aug"
print(Mybirth22)

22 Aug

In [72]:
# We can't start our identifier by digit
# - 1stvariable 
# - 19thnumber

In [73]:
# We can't include any special symbol at any position while writing identifier 
# - name@
# - hello!
# - time@2pm
# - $rupees
# - #brand

In [74]:
# We can't write identifier using space between characcters 
# - my name 
# - my number 
# - my village

In [75]:
# Assigning multiple values to multiple variables :-
a, b, c = 20, 3.14, "ABC"
print(a)
print(b)
print(c)
print(a+20)
print(type(a))
print(type(b))
print(type(c))

20
3.14
ABC
40
<class 'int'>
<class 'float'>
<class 'str'>

In [76]:
#Assign the same value to multiple variables at once :-
x = y = z = 100
print (x)
print (y)
print (z)

100
100
100

In [77]:
print(x,y,z)

100 100 100

In [78]:
print(x,y,z,sep =" ,")

100 ,100 ,100

## Data-Types

In [79]:
'''
Data-Types:- 1) Numbers (integers, float, complex)
             2) String 
             3) lists
             4) Tuple
             5) set
             6) Dictionary

Datatypes are classified into two things
    1) Immutable and
    2) Mutable
Immutable data value: A data value which cannot be modified.
mutable data value : A data value which can be modified.

Lists and dictionaries are mutable. strings and tuples are Immutable.

To verify the type of any object in Python, use the type() function:
'''

'\nData-Types:- 1) Numbers (integers, float, complex)\n             2) String \n             3) lists\n             4) Tuple\n             5) set\n             6) Dictionary\n\nDatatypes are classified into two things\n    1) Immutable and\n    2) Mutable\nImmutable data value: A data value which cannot be modified.\nmutable data value : A data value which can be modified.\n\nLists and dictionaries are mutable. strings and tuples are Immutable.\n\nTo verify the type of any object in Python, use the type() function:\n'

In [80]:
# eg.
a = 5
print(a)
print(type(a))

5
<class 'int'>

In [81]:
b = "5"
print(b)
print(type(b))

5
<class 'str'>

In [82]:
'''
Numbers (integers, float, complex)

    Number data types store numeric values.
           1) int
           2) float
           3) complex
'''
# 1) int
#     Integer is a whole number, positive or negative or zero, without decimals.

'\nNumbers (integers, float, complex)\n\n    Number data types store numeric values.\n           1) int\n           2) float\n           3) complex\n'

In [83]:
a = 222
print(a)
print(type(a))

222
<class 'int'>

In [84]:
b = 0
print(b)
print(type(b))

0
<class 'int'>

In [85]:
a = -222
print(a)
print(type(b))

-222
<class 'int'>

In [86]:
# 2) float
#    Float is a number, positive or negative or zero, containing one or more decimals.

In [87]:
a = 222.222
print(a)
print(type(a))

222.222
<class 'float'>

In [88]:
b = 0.0
print(b)
print(type(b))

0.0
<class 'float'>

In [89]:
a = -1.2
print(a)
print(type(b))

-1.2
<class 'float'>

In [90]:
# 3) complex
#   Complex numbers are written with a "j" as the imaginary part.

In [91]:
a = 5 + 3j
print(a)
print(type(a))

(5+3j)
<class 'complex'>

In [92]:
b = 8j
print(b)
print(type(b))

8j
<class 'complex'>

In [93]:
a = -1.2j + 8
print(a)
print(type(b))

(8-1.2j)
<class 'complex'>

In [94]:
# del a
# print(a) # NameError name 'a' is not defined

## Python Casting

In [95]:
'''
Python Casting (type conversion)

'''

'\nPython Casting (type conversion)\n\n'

In [96]:
# value assign
a = 6
b = a
print(b,type(b))

6 <class 'int'>

In [97]:
#Python Casting:- We can change int into float, float into int

a = 10.2
print(a,type(a))

10.2 <class 'float'>

In [98]:
b = float(a)
print(b,type(b))

10.2 <class 'float'>

In [99]:
a = 12.0
print(a,type(a))

12.0 <class 'float'>

In [100]:
b = int(a)
print(b,type(b))

12 <class 'int'>

## Operators:-

'''
Operators:- 
        Operators are special symbols in Python that carry out arithmetic or logical computation. 
        The value that the operator operates on is called the operand.
    1. Arithmetic
    2. Comparison
    3. Logical
    4. Special operators :- 1) Identity operators
                            2) Membership operators
    5. Assignment operators:- 
'''

'''
1) Arithmetic Operators :-
    Operator	Operation	    Description	
    +	    Addition	    Adds values on either side of the operator.	
    -	    Subtraction	    Subtracts right hand operand from left hand operand.	
    *	    Multiplication	Multiplies values on either side of the operator	
    /	    Division	    Divides left hand operand by right hand operand	
    %	    Modulus	        Divides left hand operand by right hand operand and returns remainder	
    **	    Exponent    	Performs exponential (power) calculation on operators	
    //	    Floor Division	The division of operands where the result is the quotient in which
                            the digits after the decimal point are removed. 
'''

In [101]:
a = 10
b = 2 
print(a + b) # Addition
print(a - b) # Subtraction	
print(a * b) # Multiplication	
print(a / b) #Division

12
8
20
5.0

In [102]:
# Modulus 
a = 10
b = 2 
c = 3
print(a%b) # Remainder is 0
print(a%c) # Remainder is 1

0
1

In [103]:
# Exponent
a = 2
b = 4
print(a**b)
print(a*a*a*a)
print("floor")

16
16
floor

In [104]:
# Floor Division (after decimal we remove)
a = 32
b = 3
print(a//b)

10

In [105]:
x = 15
y = 4
print('x + y =',x+y)
print('x - y =',x-y)
print('x * y =',x*y)
print('x / y =',x/y)
print('x // y =',x//y)
print('x ** y =',x**y)

x + y = 19
x - y = 11
x * y = 60
x / y = 3.75
x // y = 3
x ** y = 50625


2) Comparison operators:-

    Operator	    Description	
    ==	        If the values of two operands are equal, then the condition becomes true.	
    !=	        If values of two operands are not equal, then condition becomes true.
    >	        If the value of left operand is greater than the value of right operand, then condition becomes true.	
    <	        If the value of left operand is less than the value of right operand, then condition becomes true.	
    >=	        If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.	
    <=	        If the value of left operand is less than or equal to the value of right operand, then condition becomes true.

In [106]:
a = 55
b = 45
print(a == b) # False
print(a != b) # True
print(a > b) # True
print(a < b) #False
print(a >= b) #True
print(a <= b) #False

False
True
True
False
True
False

In [107]:
x = 20
y = 30
print('Is x greater than y :- ',x>y)
print('Is x less than y :- ',x<y)
print('Is x equal to y :- ',x==y)
print('Is x not equal to y :- ',x!=y)
print('Is x greater than or equal to y :- ',x>=y)
print('Is x less than or equal to y :- ',x<=y)

Is x greater than y :-  False
Is x less than y :-  True
Is x equal to y :-  False
Is x not equal to y :-  True
Is x greater than or equal to y :-  False
Is x less than or equal to y :-  True

In [108]:
x = 10
y = 12
print('x > y is',x>y)
print('x < y is',x<y)
print('x == y is',x==y)
print('x != y is',x!=y)
print('x >= y is',x>=y)
print('x <= y is',x<=y)

x > y is False
x < y is True
x == y is False
x != y is True
x >= y is False
x <= y is True

3) Logical Operator :-

    Operator	             Description	
    and   Logical AND	    If both the operands are true then condition becomes true.	(a and b) is true.
    or    Logical OR	    If any of the two operands are non-zero then condition becomes true. (a or b) is true.
    not   Logical NOT	    Used to reverse the logical state of its operand.

In [109]:
x = True
y = False
print('Logical AND operation :- ',x and y) # True if both values are true
print('Logical OR operation :- ',x or y) # True if either of the values is true
print('NOT operation :- ',not x ) # True if operand is false

Logical AND operation :-  False
Logical OR operation :-  True
NOT operation :-  False

# and
# True  and  True  ==> True
# False and  True  ==> False
# True  and  False ==> False
# False and  False ==> False

In [110]:
print(12 < 13 and 7 == 7)   # True
print(12 >= 13 and 7 != 6)  # False
print(12 == 11 and 7 == 8)  # False
print(12 > 11 and 7 == 8)   #False

True
False
False
False

#or

# True  or  True  ==> True
# False or  True  ==> True
# True  or  False ==> True
# False or  False ==> False

In [111]:
print(12 < 13 or 7 == 7)    # True
print(12 >= 13 or 7 != 6)   # True
print(12 == 11 or 7 == 8)   # False
print(12 > 11 or 7 == 8)    # True

True
True
False
True

# not 

#True ==> False
#False ==> True

In [112]:
print(not True)
print(not False)
print(not 8==8)

False
True
False

There are two built-in functions for multiple condition

all() :- True if all True otherwise False
any() :- True if at least one is True

The all() function returns True if all elements in the iterable are truthy (i.e., non-zero, non-empty, or True), or False if at least one element is falsy (i.e., zero, empty, or False)

In [113]:
all((12 < 13 , 7 == 7,12 <= 13 , 7 != 6))

True

In [114]:
all((12 < 13 , 7 == 7,12 <= 13 , 7 != 6 , 0))   #why?

False

In [115]:
bool(0)

False

In [116]:
bool(1)

True

In [117]:
bool()

False

In [118]:
bool(-100)

True

In [119]:
any((12 < 13 , 7 == 7,12 <= 13 , 7 != 6 , 0))

True

## 4) Special operators

4) Special operators :- 1) Identity operators
                        2) Membership operators

1) Identity operators

    Operator	Description	
      is 	    Returns true if both variables are the same object	
     is not  	Returns true if both variables are not the same object

In [120]:
# eg
x = 10
y = 11 
z = 10

In [121]:
print(id(x))
print(id(y))
print(id(z))

2856824236624
2856824236656
2856824236624

In [122]:
print(x is y) 
print(x is z)

False
True

In [123]:
# eg
x = 555
y = 555 
z = 300

In [124]:
print(id(x))
print(id(y))
print(id(z))

2856939811440
2856939811664
2856939810960

In [125]:
print(x is y) 
print(x is z)

False
False

"""
2) Membership Operator

    Operator	   Description	
      in	        Evaluates to true if it finds a variable in the specified sequence and false otherwise.
      not in	    Evaluates to true if it does not finds a variable in the specified sequence and false otherwise.
"""

In [126]:
a = 'h'
b = 'hello'
c = 'world'
print(a in b)
print(a in c)
print(a not in c)

True
False
True

## 5) Assignment operators

'''
5) Assignment operators:-

        Operator	    Description	                                                            
    =	                Assigns values from right side operands to left side operand	
    +=  Add AND	        It adds right operand to the left operand and assign the result to left operand	
    -=  Subtract AND	It subtracts right operand from the left operand and assign the result to left operand	
    *=  Multiply AND	It multiplies right operand with the left operand and assign the result to left operand	
    /=  Divide AND	    It divides left operand with the right operand and assign the result to left operand	
    %=  Modulus AND	    It takes modulus using two operands and assign the result to left operand	c %= a is equivalent to 
    **=  Exponent AND	Performs exponential (power) calculation on operators and assign value to the left operand	
    //=  Floor Division	It performs floor division on operators and assign value to the left operand
'''

In [127]:
# eg.
z=5
z+=2
print(z)
z-=3
print(z)
z*=2
print(z)
z**=2
print(z)
z/=2
print(z)
z//=2
print(z)
z%=2
print(z)

7
4
8
64
32.0
16.0
0.0

In [128]:
# eg.
a = 2
b = 2
c = 10
print(a)
a = 3
print(a)
a +=1
print(a)
b -= 1
print(b)
b *= 2
print(b)
b /= 2
print(b)
c %= 2
print(c)
c +=2
c **=2
print(c)
c //=2
print(c)

2
3
4
1
2
1.0
0
4
2

In [129]:
'''
String

Strings are one of the fundamental Python data types.
It is text or words or sentence in quotation mark (single or double). 
Strings are used to represent text.

properties:
1. Strings contain individual letters or symbols called characters.
2. Characters in a string appear in a sequence, which means that each character has a numbered position in the string.
'''
# Here we assign Ganesh value to my_name variable
my_name = "Ganesh"
print(my_name)
print(len(my_name))
print(type(my_name))

# Multiline Strings :- You can assign a multiline string to a variable by using three quotes

a = '''
My
Name
Is
Ganesh
'''
print(a)
print(type(a))
print(len(a))


# Looping Through a String
for i in a:
    print(i)


'''
Indexing :-

    Indexing means referring to an element of an iterable by its position within the iterable. Each of a stringâ€™s characters corresponds to an index number and each character can be accessed using its index number. We can access characters in a String in Two ways :

    1) Accessing Characters by Positive Index Number
    2) Accessing Characters by Negative Index Number
'''

Institute = "Minskole"
print(len(Institute))
for i in Institute:
    print(i)



'''

1) Accessing Characters by Positive Index Number:
   We pass a Positive index(which we want to access) in square brackets.
 The index number starts from index number 0 (which denotes the first character of a string).


2) Accessing Characters by Negative Index Number: 
    We pass the Negative index(which we want to access) in square brackets. 
    Here the index number starts from index number -1 (which denotes the last character of a string).


    0   1   2   3   4   5   6   7   ====>  Positive Index Number
    M   i   n   s   k   o   l   e   ====>  String
    -8  -7  -6  -5  -4  -3  -2  -1  ====>  Negative Index Number

'''
print("------Indexing---------")

#Positive Index Number

print(Institute[0])     #First element
print(Institute[3])     
print(Institute[7])     
# print(Institute[9])   #IndexError :- string index out of range

# Negative Index Number

print(Institute[-8])     
print(Institute[-5])     
print(Institute[-1])    #Last element


'''
Slicing :-

    Slicing in Python is a feature that enables accessing parts of the sequence. 
    We use slicing when we require a part of the string and not the complete string.
    
Syntax :
        string[start : end : step]

    start : We provide the starting index.
    end : We provide the end index(this is not included in substring).
    step : It is an optional argument that determines the increment between each index for slicing.

'''
string = "This is python class for fullstack developement."
print(string)
print(type(string))
print(len(string))

print("------Indexing---------")
print(string[5])     # i
print(string[9])     # y

print("------Slicing---------")
print(string[8:14])     # python
print(string[15:20])    # class
print(string[:])        # Full string

str2 = "Python"
print(str2)
print(type(str2))
print(len(str2))
print(str2[0:]) 
print(str2[0:6]) 
print(str2[0:6:2]) 
print(str2[1:6:2]) 
print(str2[0:6:3]) 
print(str2[:])      # Full string
print(str2[::-1])   # Reverse string

str2 = "Python"
# str2[0] = "A"  #TypeError :-'str' object does not support item assignment
#String is immutable

#String Concatenation :-
str2 = "Python"
str3 = " Class"
str4 = str2 + str3  
print(str4)
print(str4)

#String Repetation:-
str2 = "Python"
str5 = str2 * 3
print(str5)

print("Hi" + " Good" + " Morning")
# print("Five" + 5)   #TypeError :- can only concatenate str (not "int") to str
print("Five " + '5')

"""
string + string   ===> string
string + int      ===> Error
string + str(int) ===> string

"""
"""
 String Methods :-

 syntax:-
        stringVariableName.method()
"""
String = "Python class"
# isalnum() 
# Returns True if all characters in the string are alphanumeric
str1 = String.isalnum() 

# isalnum()
# Returns True if all characters in the string are alphabet
str1 = String.isalnum() 

# isalpha()
# Returns True if all characters in the string are decimals
str1 = String.isalnum() 

# isdecimal()
# Returns True if all characters in the string are digits
str1 = String.isalnum() 

# isdigit()
# Returns True if all characters in the string are lower case

# islower()
# Returns True if all characters in the string are whitespaces

# isspace()

# isupper() 
# Returns True if all characters in the string are upper case

# lower() 
# Converts a string into lower case

# upper() 
# Converts a string into upper case

# strip() 
# It removes leading and trailing spaces in the string









# upper()

String = "Python class"
b1 = String.upper()
print(b1)

#lower()
a2 = "Nagpur"
b2 = a2.lower()
print(b2)

#isupper()
a3 = "JAIPUR"
b3 = a3.isupper()
print(b3)

#islower()
a4 = "wardha"
b4 = a4.islower()
print(b4)

#capitalize()

a5 = "raipur"
b5 = a5.capitalize()
print(b5)

# startswith()

a6 = "delhi"
b6 = a6.startswith("de")
print(b6)

#endswith()

a7 = "akola"
b7 = a7.endswith("la")
print(b7)

#index()

a8 = "goa"
b8 = a8.index("o")
print(b8)

#count()

a9 = "abhisha"
b9 = a9.count('a')
print(b9)

#replace()
a10 = "I am learning javascript"
b10 = a10.replace('javascript','python')
print(b10)

# strip

a11 = " amol "
print(len(a11))

b11 = a11.strip()
print(b11)
print(len(b11))

# split()
#   Splits the string at the specified separator, and returns a list

print("chinmaydeshpande010@gmail.com".split('@'))
print("chinmaydeshpande010@gmail.com".split('a'))
print("chinmaydeshpande010@gmail.com".split('d'))


email="ganeshgkachare@gmail.com"
print(email.split("@"))

Ganesh
6
<class 'str'>

My
Name
Is
Ganesh

<class 'str'>
19


M
y


N
a
m
e


I
s


G
a
n
e
s
h


8
M
i
n
s
k
o
l
e
------Indexing---------
M
s
e
M
s
e
This is python class for fullstack developement.
<class 'str'>
48
------Indexing---------
i
y
------Slicing---------
python
class
This is python class for fullstack developement.
Python
<class 'str'>
6
Python
Python
Pto
yhn
Ph
Python
nohtyP
Python Class
Python Class
PythonPythonPython
Hi Good Morning
Five 5
PYTHON CLASS
nagpur
True
True
Raipur
True
True
1
2
I am learning python
6
amol
4
['chinmaydeshpande010', 'gmail.com']
['chinm', 'ydeshp', 'nde010@gm', 'il.com']
['chinmay', 'eshpan', 'e010@gmail.com']
['ganeshgkachare', 'gmail.com']

In [130]:
name="Data science Masters"
name.swapcase()

'dATA SCIENCE mASTERS'

In [131]:
name.title()

'Data Science Masters'

In [132]:
name.capitalize()

'Data science masters'

## Reversing a String

In [133]:
name[::-1]

'sretsaM ecneics ataD'

In [134]:
string_n="test@gmail.com"
var_a=string_n.replace("@"," ")
var_a

'test gmail.com'

In [135]:
## check if all the char in string are alphanumeric
a="abcd1234"
a.isalnum()

True