## input() function

In Python, Using the input() function, we take input from a user, and using the
print() function we display output on the screen. 


The Python input() function is used to accept user inputs. 

input (): This function first takes the input from the user and converts it into a string.

In [78]:
a =5

In [79]:
a

5

In [80]:
a = input("put any number")

put any number666

In [82]:
type(a)

str

In [83]:
a = int(input("put any number"))

put any number55

In [84]:
type(a)

int

In [3]:
# Example:

number = input('Enter a number ')
print('User entered:',number)

Enter a number 3
User entered: 3

In [4]:
print(type(number))

<class 'str'>

In [5]:
#You can change input datatype by casting
#eg.1
number = int(input('Enter a number '))
print('User entered:',number)

Enter a number 5
User entered: 5

In [6]:
print(type(number))

<class 'int'>

In [85]:
#eg.2
product_quantity = int(input('Enter a Quantity: '))
product_price = int(input('Enter size: '))
product_cost = product_quantity * product_price

print('Your item cost is: ',product_cost)

Enter a Quantity: 5
Enter size: 20
Your item cost is:  100

## Tuple

A tuple is a collection which is ordered and unchangeable (Immutable) and allow duplicates.

Tuples are written with round brackets.

In [86]:
# editing the values inside a tuple
#      0 1 2 3 4 5 6 
tup = (1,3,5,7,9,9,9)

In [87]:
tup[2]

5

In [88]:
tup[2:]

(5, 7, 9, 9, 9)

In [89]:
tup[:]

(1, 3, 5, 7, 9, 9, 9)

In [90]:
tup[:]

(1, 3, 5, 7, 9, 9, 9)

In [91]:
tup[2] = 4    # Immutable

TypeError: 'tuple' object does not support item assignment

In [92]:
tup2 = 2,3
tup2

(2, 3)

In [93]:
type(tup2)

tuple

In [94]:
type(4)

int

In [98]:
type((4,))

tuple

In [100]:
tup3= 4,

In [34]:
tup3

(4,)

In [101]:
type(tup3)

tuple

### methods in a tuple

In [102]:
tup = (1,3,5,7,9,9,9)
print(tup.count(9))
print(tup.count(45))

3
0

In [103]:
print(tup.index(7)) 
print(tup.index(9)) #1st occurance of the element

3
4

In [104]:
## function

print(min(tup))
print(max(tup))
print(sorted(tup)) #return you a list

1
9
[1, 3, 5, 7, 9, 9, 9]

In [105]:
sorted("Hello")

['H', 'e', 'l', 'l', 'o']

In [19]:
t_buy = (99,55,44,11,22,33,44,55)
print(sorted(tup , reverse=True))

[9, 9, 9, 7, 5, 3, 1]

In [20]:
tup2 = (99,55,44,11,22,33,44,55, 'R', 'P','S') 
print(sorted(tup2))  # not supported bcz diff types of data

TypeError: '<' not supported between instances of 'str' and 'int'

In [21]:
# membership operator

tup3 = (99,55,44,11,22,33,44,55, 'R', 'P','S')

print("Q" in tup3)
print("S" in tup3)
print("T" not in tup3)

False
True
True

In [106]:
# using loops to print (tuple is iterable)
tup = (99,55,44,11,22,33,44,55, 'R', 'P','S')

In [110]:
for i in range(len(tup)):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [111]:
for i in range(len(tup)):
    print(tup[i])

99
55
44
11
22
33
44
55
R
P
S

In [112]:
for i in tup:
    print(i)

99
55
44
11
22
33
44
55
R
P
S

In [ ]:
# changable/mutable  : unhashable eg: list
# unchangable/immutable :  hashable eg : tuple

### Editing a tuple

In [114]:
# converting to list (type casting)

s1 = (1,2,3,4,5)
print(s1)

(1, 2, 3, 4, 5)

In [115]:
s2 = list(s1)

In [116]:
s2

[1, 2, 3, 4, 5]

In [117]:
s2.append(6)

In [118]:
s2.append(6)
print(s2)

[1, 2, 3, 4, 5, 6, 6]

In [119]:
s3 = tuple(s2)
print(s3)

(1, 2, 3, 4, 5, 6, 6)

In [120]:
print(id(s1))
print(id(s2))
print(id(s3))

2424396646256
2424390499456
2424396340096

In [124]:
print(s1.count(5))
print(s3.index(6))

1
5

#### unpacking

In [125]:
# unpacking

t1  = (5,55,555,5555)
len(t1)

4

In [126]:
a ,b, c ,d = t1

print(a)
print(b)
print(c)

5
55
555

In [128]:
a ,b, c,h,k = t1

ValueError: not enough values to unpack (expected 5, got 4)

In [130]:
t1  = (5,55,555,5555)

In [131]:
_ ,f, _ ,_ = t1   # palce holder

In [132]:
f

55

In [133]:
_

5555

In [41]:
a ,b, c = t1 #too many values to unpack

ValueError: too many values to unpack (expected 3)

In [ ]:
a ,b, c ,d,f = t1 #not enough values to unpack

In [ ]:
#       0     1    2    3
city = ('P', 'U', 'N', 'E') #packing

In [ ]:
print(city[0])
print(city[3])
print(city[1])

In [ ]:
a ,b ,c ,d = city #unpacking

print(a)
print(b)
print(c)
print(d)

In [134]:
# palce holder

t_num = (1,2,3,4,5,6,7,8,9)

a,b,c,d,e,f,g,h,i = t_num
_,b,_,d,_,f,_,h,_ = t_num # we need even numbers

print(b,d,f,h)
print(d)
print(f)
print(h)

2 4 6 8
4
6
8

## Set

Set

    Set is an unordered collection of data types that is iterable, mutable and has 
    no duplicate elements.

Creating a Set
    Sets can be created by using the built-in set() function with an iterable object   
    or a sequence by placing the sequence inside curly braces, separated by a ‘comma’.
    
    Every element in set is hashable

Note: A set cannot have mutable elements like a list or dictionary, as it is mutable. 

    Common uses include membership testing, removing duplicates from a sequence, and computing 
    mathematical operations such as intersection, union, difference, and symmetric difference.

In [143]:
# set is an unordered collection of unique elements
# # Sets Creation
s = {"a","b","c","d"}
print(type(s))

<class 'set'>

In [136]:
a = ["a",5,7.4,[1,2],(2,3)]

In [137]:
a

['a', 5, 7.4, [1, 2], (2, 3)]

In [140]:
a = {"a",5,7.4,(2,3)}

In [141]:
a= [2,3]
a.

{(2, 3), 5, 7.4, 'a'}

In [145]:
ss = set()
type(ss)

set

In [147]:
ss = {" "}
type(ss)

set

In [150]:
ss = {5,}
type(ss)

set

In [152]:
ss = {5}
type(ss)

set

In [ ]:
a = {}

In [153]:
ss = {}
type(ss)

dict

In [ ]:
s = {1, 2, 3, 4} # Set 
type(s)

In [ ]:
s1 = [1,2,3,4] # List 
type(s)

In [ ]:
s2 = (1,2,3,4) # Tuple
type(s)

In [ ]:
s = {False, "Hola mundo", (1, 2), True, 3.14, None}
print(type(s))

In [ ]:
s = {[1, 2]} # TypeError unhashable type: 'list'

In [ ]:
list_a = [0,1,1,1,2,2,2,3,3,3,3,3,4,4,4,4,4,5,5,5,5,6,6,6,6,6,6,True,True,True,True,False,False,False,"Hello","Hello","Hello"]
set_c = set(list_a)
print(set_c)

In [47]:
str = "this is a example"
set(str)

{' ', 'a', 'e', 'h', 'i', 'l', 'm', 'p', 's', 't', 'x'}

In [ ]:
print(s[0]) #'set' object is not subscriptable
print(s[2])

In [ ]:
# we can not call elements of  a set by calling the index position

In [ ]:
# but we can use loop for calling
for i in s:
    print(i)

In [ ]:
# #eg. 

s_even = {True, False, False ,25 , 'order' , [55,55,55]} #unhashable type: 'list

## Method

In [50]:
b = {11,22,44,77}
b.clear()
print(b)

set()

In [55]:
set_a = {9,10}
set_a.add(4) #Adding an element
print(set_a)

{9, 10, 4}

In [57]:
set_c = {1,2,3}
set_c.update(set_a)
set_c

{1, 2, 3, 4, 9, 10}

In [58]:
set_c.update({5})
print(set_c)

{1, 2, 3, 4, 5, 9, 10}

In [59]:
set_a.discard(1) # Remove an element
print(set_a)

{9, 10, 4}

In [61]:
set_a.remove(10)
print(set_a)

{9, 4}

In [ ]:
print(1 not in set_a)

print(3 in set_a)

In [63]:
print(set_a.pop())
print(set_a)

9
{4}

In [64]:
set_b = {"hola",7,6,5,4,3, True, False}
print(set_b.pop())
print(set_b.pop())
print(set_b)

False
True
{3, 4, 5, 6, 7, 'hola'}

In [ ]:
print(set_b.pop())
print(set_b)

In [ ]:
# A∪B
set_d = {1,2,3}
set_e = {4,5,6}
print(set_d | set_e) # Union

print(set_d.union(set_e)) # Union

In [66]:
# A∩B
set_d = {1,2,3,4,5}
set_e = {4,5,6,7,8}
print(set_d.intersection(set_e)) # Intersection

print(set_d & set_e )# Intersection

{4, 5}
{4, 5}

In [ ]:
# A - B
print(set_d - set_e) # Difference

print(set_e - set_d)

print(set_d.difference(set_e)) # Difference

In [67]:
# AΔB
print(set_d ^ set_e) # Symmetric Difference

print(set_e.symmetric_difference(set_d)) # Symmetric Difference

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

In [69]:
# Subset: if each element of b is in a 
a = {1,2,3,4,5,6,8}
b = {2,3,4,8}
print(b.issubset(a))

print(a.issubset(b))

True
False

In [70]:
# Superset: if each element in a is in b
print(a.issuperset(b))

print(a.issuperset(a))

a >= b # Superset

True
True

True

In [71]:
a.isdisjoint(b)

False

In [54]:

a = {1,2,3}
b = {3,2,1}
a == b

True

In [55]:
a = {1,2,3,4}
b = {3,2,1}
a == b

False

There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
Dictionary is a collection which is ordered** and changeable. No duplicate members.

for Loop	This is traditionally used when programmers had a piece of code and wanted to repeat that 'n' number of times.
while Loop	The loop gets repeated until the specific Boolean condition is met.

for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

In [ ]:
#initialize count variable to 1
count =1

while count < 6 :
    print (count)
    count+=1
#the above line means count = count + 1

break statement

It terminates the loop immediately and transfers execution to the new statement after the loop.

In [77]:
for i in range(0, 5):
    if i == 3:
        break
    print(i)

0
1
2

ontinue statement
The continue statement causes the loop to skip its current execution at some point and move on to the next iteration. Instead of terminating the loop like a break statement, it moves on to the subsequent execution.

In [ ]:
for i in range(0, 5):
    if i == 3:
        continue
    print(i)

In [74]:
for x in range(10):
    if x % 2 == 0:
        continue
    print (x)

1
3
5
7
9