## DICTIONARY  IN PYTHON

Dictionaries are used to store data values in key:value pairs.
    A dictionary is a collection which is  changeable and do not allow duplicates.
    Dictionaries cannot have two items with the same key

In [34]:
score_vk = {"one_day" : 700,
            "test" : 740,
            "t_20" : 470,
            "international" : 250}

print(score_vk)

{'one_day': 700, 'test': 740, 't_20': 470, 'international': 250}

In [36]:
# duplicate key in dictionary
animal = {
    'legs':2,
    'color':'red',
    'eyes':2,
    'legs':4
}
print(animal)

{'legs': 4, 'color': 'red', 'eyes': 2}

In [45]:
# keys are hashable
dict_student = {
    'name' : 'Viplov',
    'roll no.' : 54,
    'Addr' : 'Jalpigudi',
    'Hobby' :  'cricket',
    [101,55,21,9] : 'Scores',# unhashable type: 'list'
    (101,55,21,9) : 'Score' ,# ok... but not to be used
    'Score' :[101,55,21,9],
    1 : 'ONE'
}
# keys are hashable
dict_student

TypeError: unhashable type: 'list'

In [46]:
#  Defining the dict with values
#   dict does not stores the value by index

person = {
    "firstName":"Raj",
    (3,5,6):6,
    "Age":22
}

In [48]:
type(person)

dict

In [47]:
# retrive Method
print(person[1]) #KeyError

KeyError: 1

In [ ]:
#retrive 1

In [49]:
person["firstName"]

'Raj'

In [50]:
person["lastname"]

KeyError: 'lastname'

In [51]:
person["lastname"] = "RRRRR"

In [52]:
person["lastname"]

'RRRRR'

In [53]:
person

{'firstName': 'Raj', (3, 5, 6): 6, 'Age': 22, 'lastname': 'RRRRR'}

In [54]:
person["lastname"] = "AAAA"

In [55]:
person

{'firstName': 'Raj', (3, 5, 6): 6, 'Age': 22, 'lastname': 'AAAA'}

In [ ]:
fn = person["firstName"]

In [7]:
print(fn)
print(person["Age"])

Raj
22

In [3]:
print(person)
# print(type(person))

{'firstName': 'Raj', (3, 5, 6): 6, 'Age': 22}

In [ ]:
# METHODS IN DICT

In [57]:
dict_student = {
    "Name" : "Vivek",
    "Class" :  "FYJC",
    "PIN" : 442404,
    "Sub" : ['P' ,"C" , "M" ,"IT"]
}

In [ ]:
person[2] #this will not work

In [59]:

person = {
    "firstName":"Raj",
    (3,5,6):6,
    "Age":22
}

In [62]:
# retrive 1
fn = person['firstName']
ag = person['Age']
print(fn)
print(ag)

Raj
22

In [67]:
# retrive 2
fn2 = person.get('firstName')
fn3 = person.get('firstNamem',"not present")
print(fn2)
print(fn3)

Raj
not present

In [64]:
person['firstNamem']

KeyError: 'firstNamem'

In [68]:
# update
person['age'] = 40
print(person['age'])

40

In [69]:
# add
person['city'] = "pune"
print(person)

{'firstName': 'Raj', (3, 5, 6): 6, 'Age': 22, 'age': 40, 'city': 'pune'}

In [71]:
#delete
del person['age']
print(person)

KeyError: 'age'

In [72]:
vehicle = {
    'color':'red',
    'type':"sedane"
}

In [73]:
# retrive
print(vehicle['color'])

red

In [75]:
#update 
vehicle['color'] = "black"
vehicle

{'color': 'black', 'type': 'sedane'}

In [77]:
#add
vehicle['model'] = "q7"
vehicle

{'color': 'black', 'type': 'sedane', 'model': 'q7'}

In [79]:
# delete
del vehicle['color']
print(vehicle)

KeyError: 'color'

In [81]:
# dict with in operator
print("legs" in animal)
print("leg" not in animal)
print("leg" in animal)
animal = {
    #property - values
    #key  -     values
    'legs':2,
    'color':'red',
    'eyes':2,
    'legs':4
}

True
True
False

In [ ]:
for key in animal:
    print(key,animal[key])

In [82]:
flower = {
    'name':"lotus",
    "color":"white",
    "region":"kashmir",
    "lifeShell":4
}

In [ ]:
for prop in flower:
    print(prop,flower[prop])

In [83]:
# keys()
print(flower.keys())

dict_keys(['name', 'color', 'region', 'lifeShell'])

In [84]:
# values()
print(flower.values())

dict_values(['lotus', 'white', 'kashmir', 4])

In [85]:
# items()
print(flower.items())

dict_items([('name', 'lotus'), ('color', 'white'), ('region', 'kashmir'), ('lifeShell', 4)])

In [86]:
# keys()
for x in animal.keys():
    print(x)

legs
color
eyes

In [87]:
# values
for x in animal.values():
    print(x)

4
red
2

In [94]:
#items()
for x , y in animal.items():
    print("This is key: ",x,"This is value:",y)

This is key:  legs This is value: 4
This is key:  color This is value: red
This is key:  eyes This is value: 2

In [89]:
animal.items()

dict_items([('legs', 4), ('color', 'red'), ('eyes', 2)])

In [90]:
tup = ('legs', 4)

In [91]:
a,b =tup

In [92]:
a

'legs'

In [93]:
b

4

In [11]:
# Nested Dictionary

family = {
    'son':"chinmay",
    'daughter':'gauri',
    'parent':{
        'mother':'kanchan',
        'father':'shirish'
    },
    'skills':["python","c++"]
}

In [ ]:
print(family['parent']['father'])   #shirish

In [ ]:
family['parent']['mother'] ='kanchan s'

In [12]:
family['skills'].append('js')

shirish


## HOW TO CREATE A DICTIONARY

In [95]:
b_basic = {'name': 'Nikhita' ,
           'age': 26 ,
           'job' : 'SOftwareTeste'}
b_basic

{'name': 'Nikhita', 'age': 26, 'job': 'SOftwareTeste'}

In [96]:
# By using variable
a_var = dict(name = "rahul", age = 32 ,job = 'teacher')
a_var

{'name': 'rahul', 'age': 32, 'job': 'teacher'}

In [97]:
# By using tuple
d_tup = dict([('name',"Akash"),('age',35),('job',"Instructor")])
d_tup

{'name': 'Akash', 'age': 35, 'job': 'Instructor'}

In [98]:
d_tup = dict(('name',"Akash"),('age',35),('job',"Instructor")) # use list

TypeError: dict expected at most 1 argument, got 3

In [101]:
# By using two list
list_keys = [1,2,3,4,5,6,]
list_values= ["one","two","three","four","five","six"]

c_zip = dict(zip(list_keys ,list_values))
c_zip

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six'}

In [102]:
list(zip(list_keys ,list_values))

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four'), (5, 'five'), (6, 'six')]

In [103]:
list_keys = (1,2,3,4,5,6,)
list_values= ("one","two","three","four","five","six")

c_zip = dict(zip(list_keys ,list_values))
c_zip

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six'}

In [105]:
list_keys = (1,2,3)
list_values= ("one","two","three","four","five","six")

c_zip = dict(zip(list_keys ,list_values))
c_zip

{1: 'one', 2: 'two', 3: 'three'}

## Homework

In [ ]:
# score_vk = {
#         one_day : 700,
#         test : 740,
#         t_20 : 470,
#         international : 250
# }

In [30]:
# 1. CREATE ABOVE DICTIONARY USING BASIC METHOD 
# {} AND NAME IT AS score_vk_basic
score_vk = {"one_day" : 700,"test" : 740,"t_20" : 470,"international" : 250}
print(score_vk)

{'one_day': 700, 'test': 740, 't_20': 470, 'international': 250}

In [31]:
# 2. CREATE ABOVE DICTIONARY USING 
# variable assignments way AND NAME IT AS score_vk_var
score_vk_var= dict(one_day = 700,test = 740,t_20 = 470,international = 250)
print(score_vk_var)

{'one_day': 700, 'test': 740, 't_20': 470, 'international': 250}

In [32]:
# 3. CREATE ABOVE DICTIONARY USING 
# tuple pair way  AND NAME IT AS score_vk_basic_tup
score_vk_basic_tup = dict([("one_day", 700),("test" , 740),("t_20" , 470),("international" , 250)])
print(score_vk_basic_tup)

{'one_day': 700, 'test': 740, 't_20': 470, 'international': 250}

In [33]:
# 4. CREATE ABOVE DICTIONARY USING 
# zip method CONSIDERING 
# KEYS LIST AS list_keys AND 
# VALUES LIST AS list_values  AND 
# NAME IT AS score_vk_basic_tup
list_keys = ['one_day', 'test', 't_20', 'international']
list_values = [700, 740, 470, 250]
score_vk_basic_tup = dict(zip(list_keys,list_values))
print(score_vk_basic_tup)

{'one_day': 700, 'test': 740, 't_20': 470, 'international': 250}