## String

Strings are one of the fundamental Python data types.
It is text or words or sentence in quotation mark (single or double). 
Strings are used to represent text.

properties:
1. Strings contain individual letters or symbols called characters.
2. Characters in a string appear in a sequence, which means that each character has a numbered position in the string.

In [98]:
# Here we assign Ganesh value to my_name variable

my_name = "Ganesh"
print(my_name)

Ganesh

In [99]:
my_name[2]

'n'

In [100]:

type(my_name)

str

In [96]:
'abc'

'abc'

In [97]:
"abc"

'abc'

In [101]:
len(my_name)

6

## Indexing

Indexing :-

    Indexing means referring to an element of an iterable by its position within the iterable. Each of a stringâ€™s characters corresponds to an index number and each character can be accessed using its index number. We can access characters in a String in Two ways :

    1) Accessing Characters by Positive Index Number
    2) Accessing Characters by Negative Index Number

In [102]:
name = "Priyanka"
len(name)

8

In [104]:
for char in name:
    print(char, end =" ")

P r i y a n k a


1) Accessing Characters by Positive Index Number:
   We pass a Positive index(which we want to access) in square brackets.
 The index number starts from index number 0 (which denotes the first character of a string).


2) Accessing Characters by Negative Index Number: 
    We pass the Negative index(which we want to access) in square brackets. 
    Here the index number starts from index number -1 (which denotes the last character of a string).

    0   1   2   3    4   5    6   7   ====>  Positive Index Number
    P   r   i   y    a   n    k   a   ====>  String
   -8  -7  -6  -5   -4   -3  -2   -1  ====>  Negative Index Number

In [ ]:
#Positive Index Number

In [ ]:
name = "Priyanka"

In [105]:
print(name[3])

y

In [106]:
print(name[7])

a

In [107]:
print(name[-1])

a

In [108]:
print(name[8])

IndexError: string index out of range

In [ ]:
print(name[0])     #First element
print(name[3])     
print(name[7])     
# print(name[9])   #IndexError :- string index out of range

In [ ]:
# Negative Index Number

print(name[-8])     
print(name[-5])     
print(name[-1])    #Last element

In [110]:
b = "sghfk"

In [111]:
print(b[-4])

g

In [112]:
print(b[3])

f

## Slicing


Slicing :-

    Slicing in Python is a feature that enables accessing parts of the sequence. 
    We use slicing when we require a part of the string and not the complete string.
    
Syntax :
        string[start : end : step]

    start : We provide the starting index.
    end : We provide the end index(this is not included in substring).
    step : It is an optional argument that determines the increment between each index for slicing.

In [113]:
#         0123456789   13
string = "This is python class for Data Analyst."
#                 8

#left ------------------>right

print(string)
print(type(string))
print(len(string))

This is python class for Data Analyst.
<class 'str'>
38

In [126]:
#Indexing
print(len(string[14:8:-1]))

6

In [127]:
string[14:8:-1]

' nohty'

In [124]:
b="python"
b[::-1]

'nohtyp'

In [122]:
print(string[8:13])

pytho

In [ ]:
#Slicing
print(string[-13:-9])

In [117]:
print(string[3:])

s is python class for Data Analyst.

In [119]:
print(string[:])

This is python class for Data Analyst.

In [120]:
print(string[::-1])

.tsylanA ataD rof ssalc nohtyp si sihT

In [ ]:
string = "This is python class for Data Analyst."

In [ ]:
str2 = "Python"
 
print(str2[:])      # Full string
print(str2[::-1])   # Reverse string

In [129]:
str2 = "Python"
str2[2] = "T"

TypeError: 'str' object does not support item assignment

In [ ]:
# str2[0] = "A"  #TypeError :-'str' object does not support item assignment
#String is immutable

In [130]:
#String Concatenation :-
str2 = "Python"
str3 = " Class"
str4 = str2 + str3  
print(str4)

Python Class

In [131]:
#String Repetation:-
str2 = "Python"
str5 = str2 * 3
print(str5)

PythonPythonPython

In [ ]:
print("Hi" + " Good" + " Morning")
# print("Five" + 5)   #TypeError :- can only concatenate str (not "int") to str
print("Five " + '5')


string + string   ===> string
string + int      ===> Error
string + str(int) ===> string

In [132]:
a=5

In [135]:
type(str(a))

str

## STRING FORMATTING

STRING FORMATTING

     1) f-string
     2) .format()

placeholders {}



"My name is ---.I am --- years old"

In [138]:
name ="Praj"
age = 25

In [139]:
f"My name is {name} .I am {age} years old"

'My name is Praj .I am 25 years old'

#  .format()

In [140]:
"My name is {}.I am {} years old".format(name,age)

'My name is Praj.I am 25 years old'

In [141]:
"My name is {}.I am {} years old".format(age,name)
#                                         0   1

'My name is 25.I am Praj years old'

In [142]:
"My name is {1}.I am {0} years old".format(age,name)
#                                           0    1

'My name is Praj.I am 25 years old'

In [148]:
a="My name is {1}.I am {0} years old"

In [147]:
a

'My name is {}.I am {} years old'

In [149]:
a.format(name,age)
#         0    1

'My name is 25.I am Praj years old'

In [ ]:
a

## String Methods

"""
 String Methods :-

 syntax:-
        stringVariableName.method()
"""

In [156]:
String = "Pythonclass"  #(a-z A-Z 0-9)
# isalnum() 
# Returns True if all characters in the string are alphanumeric .meaning alphabet letter (a-z) and numbers (0-9
# not alphanumeric: (space)!#%&?

In [154]:
String.isalnum()

False

In [ ]:
str1 = String.isalnum()
str1

In [157]:
# isalpha()
# Returns True if all characters in the string are alphabet letters. (a-z)
str1 = String.isalpha() 
str1

True

In [ ]:
# upper() 
# Converts a string into upper case

String = "Python class"
b1 = String.upper()
print(b1)

PYTHON CLASS

In [159]:
#isupper()
a3 = "JAIPUR"
b3 = a3.isupper()
print(b3)

True

In [160]:
#islower()
a4 = "wardha"
b4 = a4.islower()
print(b4)

True

In [161]:
#capitalize()

a5 = "my name"
b5 = a5.capitalize()
print(b5)

My name

In [162]:
a5.title()

'My Name'

In [163]:
#swapcase()
name="Data science Masters"
name.swapcase()

'dATA SCIENCE mASTERS'

In [164]:
# startswith()

a6 = "delhi"
b6 = a6.startswith("h")
print(b6)

False

In [165]:
#endswith()

a7 = "akola"
b7 = a7.endswith("la")
print(b7)

True

In [167]:
#index()

a8 = "I am learning javascript"
b8 = a8.index("l")
print(b8)

5

In [168]:
#count()

a9 = "abhisha"
b9 = a9.count('a')
print(b9)

2

In [169]:
#replace()
a10 = "I am learning javascript"
b10 = a10.replace('javascript','python')
print(b10)

I am learning python

In [170]:
# strip : Returns a trimmed version of the string

a11 = " amol "
len(a11)

6

In [171]:
b11 = a11.strip()
print(b11)
print(len(b11))

amol
4

In [173]:
# split()
#   Splits the string at the specified separator, and returns a list

print("abcdefghijklmn@gmail.com".split('@'))

['abcdefghijklmn', 'gmail.com']

In [174]:
"abcdefghijklmn@gmail.com".split('d')

['abc', 'efghijklmn@gmail.com']

In [ ]:
print("abcdefghijklmn@gmail.com".split('g'))

In [172]:
"abcdefg".split("c")

['ab', 'defg']

In [ ]:
email="abcdefghijklmn@gmail.com"
print(email.split("@"))

In [182]:
a = "abc"
a.replace("a","A")

'Abc'

## List

List
    The list is a sequence data type which is used to store the collection of data.
    List is mutable.

In [176]:
lst = [1,2,3]
type(lst)

list

In [178]:
l = [1,2,2]

In [179]:
print(type(l))
print(len(l))

<class 'list'>
3

In [183]:
a = [1,2,3,4,"5","6","7","Hello","World",True,False,"Houndred"]

In [ ]:
 
print(a)

In [ ]:
print(len(a))

In [ ]:
print(a[2])
print(a[3])

In [184]:
a[3] = "Four"
print(a[3])

Four

In [185]:
a

[1, 2, 3, 'Four', '5', '6', '7', 'Hello', 'World', True, False, 'Houndred']

In [ ]:
print(a[-1])

In [ ]:
print(a.reverse())

In [ ]:
a.reverse()

In [ ]:
a

## for loop

In [ ]:
# iterate over the list items 

a = [1,2,3,4,"5","6","7","Hello","World",True,False,"Houndred"]

In [ ]:
for i in range(len(a)):
    print(a[i])

In [ ]:
for i in a:
    print(i)

## Range()


Range():-
    The range() function returns a sequence of numbers, starting from 0 by default,
    and increments by 1 (by default), and stops before a specified number.
Syntax
    range(start, stop, step)

    Parameter	Description
    start	    Optional. An integer number specifying at which position to start. Default is 0
    stop	    Required. An integer number specifying at which position to stop (not included).
    step	    Optional. An integer number specifying the incrementation. Default is 1

In [ ]:
#eg.1
a = range(10)
print(a)

In [ ]:
for i in a:
    print (i)

In [ ]:
#eg.2
b = list(range (6))
print(b)

In [ ]:
#eg.3 Create a sequence of numbers from 3 to 5, and print each item in the sequence:
x = range(3, 6)
for n in x:
    print(n)

In [ ]:
# eg.4
x = range(1, 6)
print(x)

## Casting

In [ ]:
# eg.5
a = list(range(1, 6))

In [ ]:
a

In [ ]:
type(a)

In [ ]:
# eg.6
b= tuple(range(1, 10))
print(b)
print(type(b))

In [ ]:
"#Step"
# eg.7
a = list(range(0,50,5))
print(a)
print(type(a))

In [ ]:
# eg.8
a = list(range(0,41,4))
print(a)
print(type(a))

In [ ]:
for i in range(0,10):
    print(i)
    


# for l in a:
    # print(l,a[l])
    # print(a[l])

In [ ]:
a= [1, 2, 3, 4, '5', '6', '7', 'Hello', 'World', True, False, 'Houndred']

In [ ]:
# ### Slicing
#a[starting_index:ending_index:jump]
# All Elements

In [ ]:
print(a[3:]) # From 3 to foward

In [ ]:
print(a[5:8] )# Between 5 and 8 (5,8)

In [ ]:
print(a[:3] )# from start to 3

In [ ]:
print(a[::]) #start_index:Ending_index:Jump(how many index we want to skip)

In [ ]:
# Reverse

In [ ]:
# ### Concatenate
b = [1,2,3,4]
c = [4,6,7,8]
n = b + c
n

In [ ]:
# ### Data Manipulation

a = [1,2,3,4,"5","6","7","Hello","World",True,False,"Houndred"]
print(a)

In [ ]:
print(a[4])
print(type(a[4]))
print(type(a[5]))

In [ ]:
a[4] = 5
print(a)
print(type(a[4]))

In [ ]:
complex_list = [1,"1",[1],["1"],[[1],["hello"]]]

In [ ]:
#"hello"

In [ ]:
# l

## Method

In [ ]:
a = [1,2,3,4,"5","6","7","Hello","World",True,False,"Houndred"]

In [ ]:
a.append("This is a another String") # Add an element
print(a)

In [ ]:
a.remove("This is a another String") # remove element
print(a)

In [ ]:
print(a.pop(5)) # remove element
print(a)

In [ ]:
a[5:6] = [6,7]
print(a)

In [ ]:
# The insert() method inserts an item at the specified index:
b = [8, 9, 12]
b.insert(2, 40)
print(b)

In [ ]:
# To add an item to the end of the list, use the append() method:
b = [8, 9, 12]
b.append(40)
print(b)

In [ ]:
b = [8, 9, 12]
b.append([23,24,25])
print(b)

In [ ]:
# To append elements from another list to the current list, use the extend() method.
b = [8, 9, 12]
b.extend([23,24,25])
print(b)

In [ ]:
# The remove() method removes the specified item.
b = [8, 9, 12, 23,18, 24, 25]
b.remove(18)
print(b)

In [ ]:
# The pop() method removes the specified index.
b = [8, 9, 12, 23,18, 24, 25]
print(b.pop(2))
print(b)

In [ ]:
# If you do not specify the index, the pop() method removes the last item.
b = [8, 9, 12, 23,18, 24, 25]
print(b.pop())
print(b)

In [ ]:
# The del keyword also removes the specified index:
b = [8, 9, 12, 23,18, 24, 25]
del b[3]
print(b)

In [ ]:
# The del keyword can also delete the list completely.
b = [8, 9, 12, 23,18, 24, 25]
del b
# print(b)

In [ ]:
# The clear() method empties the list.
b = [8, 9, 12, 23,18, 24, 25]
b.clear()
print(b)

In [ ]:

# Sort the list alphabetically:

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

In [ ]:
# Sort the list numerically:

thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

In [ ]:
# Sort Descending
# To sort descending, use the keyword argument reverse = True:

# Example
# Sort the list descending:

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

In [ ]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

In [ ]:
# Copy a List
# You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

# There are ways to make a copy, one way is to use the built-in List method copy().

In [ ]:
# Example
# Make a copy of a list with the copy() method:
a = [2,3,4,5,6]
b=a

In [ ]:
c=a.copy()



## CONDITIONAL STATEMENT IN PYTHON

In [ ]:
# EG:
# marks = input("Enter your marks: ")
# print("your marks are {}".format(marks))


p = int(input("Enter marks of Physics : "))
c = int(input("Enter marks of Chem : "))
m = int(input("Enter marks of Maths : "))


print("your marks are {}".format(p))
print("your marks are {}".format(c))
print("your marks are {}".format(m))

average = (p+c+m)/3
print(average)


if average > 35 :
    print("Pass")
else:
    print("Try next time")

In [ ]:
# eg: 
# voting age


age_candidate = int(input(" Enter your age :"))
print("your age is : {}".format(age_candidate))


if age_candidate >= 18: # boundary condition
    print(" You are eligible for voting")
else:
    print(" You are not  eligible for voting")

In [ ]:
marks = int(input("Enter your total marks: "))
print("Your marks are : {}".format(marks))

print(type(marks))


if marks> 95:
    print("Grade A")
if marks> 80:
    print("Grade B")
if marks> 75:
    print("Grade C")

In [ ]:
age_candidate  = int(input("Enter you age: "))


if 0 < age_candidate < 18:
    print("You are not eligible to vote")
elif 18 <= age_candidate < 45:
    print("You are  eligible to vote")
elif 45 <= age_candidate < 60:
    print("You are  eligible to vote")
    print("You  must exercise your rights properly")
elif 60 <= age_candidate < 99:
    print("You are  eligible to vote")
    print("You  can ask office for assistance to vote ")
else:
    print("Enter yor age properly")