# Q1

In [184]:
import pandas as pd

In [185]:
data1=pd.read_excel(r"C:\Users\dell\Downloads\Python Test\Test 1\Input File 1.xlsx")
data1

   Zipcode   Location
0      234     Pashan
1      345      Nahre
2      456   Lohegoan
3      567       Camp
4      678      Nagar
5      789     Kondwa
6      890   Balewadi
7      123  Vimanagar

In [186]:
data2=pd.read_excel(r"C:\Users\dell\Downloads\Python Test\Test 1\Input File 2.xlsx")
data2

       Name  age  Zipcode
0    Pranit   23      234
1  Abhishek   24      345
2      Yash   23      456
3    Pranit   32      567
4    Yogesh   26      678
5     Latur   45      789
6     Umesh   67      890
7      Yash   23      123

In [187]:
Output_Q1 = pd.merge(data2,data1,on="Zipcode")
Output_Q1

       Name  age  Zipcode   Location
0    Pranit   23      234     Pashan
1  Abhishek   24      345      Nahre
2      Yash   23      456   Lohegoan
3    Pranit   32      567       Camp
4    Yogesh   26      678      Nagar
5     Latur   45      789     Kondwa
6     Umesh   67      890   Balewadi
7      Yash   23      123  Vimanagar

In [188]:
Output_Q1.to_excel(r"C:\Users\dell\Downloads\Python Test\Test 4\Output_Q1.xlsx", index=False)

# Q2

In [189]:
Q2=pd.read_excel(r"C:\Users\dell\Downloads\Python Test\Test 2\Input File.xlsx")

In [190]:
Q2

,Category,EquipmentMake,EquipmentModel,Equipment,Engine,EquipmentType,Year,Part Number,Part Details 1,Part Details 2,Filter Type,Quantity,Availability
0,Off Highway,AG CHEM EQUIPMENT,004,AG CHEM EQUIPMENT 004,Engine CUMMINS 6CTA8.3,Equipment Type SPRAYER,NaN,P119373,AG CHEM EQUIPMENT,702463,"AIR FILTER, SAFETY",Qty Per Equipment\n1,Buy Online From Distributor\n\nBuy Online\nAdd...
1,Off Highway,AG CHEM EQUIPMENT,004,AG CHEM EQUIPMENT 004,Engine CUMMINS 6CTA8.3,Equipment Type SPRAYER,NaN,P551381,AG CHEM EQUIPMENT,30098,"LUBE FILTER, SPIN-ON FULL FLOW",Qty Per Equipment\n1,Buy Online From Distributor\n\nBuy Online\nAdd...
2,Off Highway,AG CHEM EQUIPMENT,004,AG CHEM EQUIPMENT 004,Engine CUMMINS 6CTA8.3,Equipment Type SPRAYER,NaN,P550440,AG CHEM EQUIPMENT,709935,"FUEL FILTER, SPIN-ON SECONDARY",Qty Per Equipment\n2,Buy Online From Distributor\n\nBuy Online\nAdd...
3,Off Highway,AG CHEM EQUIPMENT,004,AG CHEM EQUIPMENT 004,Engine CUMMINS 6CTA8.3,Equipment Type SPRAYER,NaN,P181046,Donaldson,P181046,"AIR FILTER, PRIMARY ROUND",Qty Per Equipment\n1,Buy Online From Distributor\n\nBuy Online\nAdd...
4,Off Highway,AG CHEM EQUIPMENT,004,AG CHEM EQUIPMENT 004,Engine CUMMINS 6CTA8.3,Equipment Type SPRAYER,NaN,P552072,AG CHEM EQUIPMENT,710195,"COOLANT FILTER, SPIN-ON SCA PLUS",Qty Per Equipment\n1,Buy Online From Distributor\n\nBuy Online\nAdd...
5,Off Highway,AG CHEM EQUIPMENT,004,AG CHEM EQUIPMENT 004,Engine CUMMINS 6CTA8.3,Equipment Type SPRAYER,NaN,P553000,AG CHEM EQUIPMENT,711049,"LUBE FILTER, SPIN-ON FULL FLOW",Qty Per Equipment\n1,Buy Online From Distributor\n\nBuy Online\nAdd...
6,Off Highway,AG CHEM EQUIPMENT,004,AG CHEM EQUIPMENT 004,Engine CUMMINS 6CTA8.3,Equipment Type SPRAYER,NaN,P550974,AG CHEM EQUIPMENT,516180,"FUEL FILTER, IN-LINE",Qty Per Equipment\n1,Buy Online From Distributor\n\nBuy Online\nAdd...
7,Off Highway,AG CHEM EQUIPMENT,004,AG CHEM EQUIPMENT 004,Engine CUMMINS 6CTA8.3,Equipment Type SPRAYER,NaN,P551329,AG CHEM EQUIPMENT,709936,"FUEL FILTER, WATER SEPARATOR SPIN-ON TWIST&DRAIN",Qty Per Equipment\n1,Buy Online From Distributor\n\nBuy Online\nAdd...
8,Off Highway,AG CHEM EQUIPMENT,004,AG CHEM EQUIPMENT 004,Engine CUMMINS V504,Equipment Type SPRAYER,NaN,P551381,AG CHEM EQUIPMENT,30098,"LUBE FILTER, SPIN-ON FULL FLOW",Qty Per Equipment\n1,Buy Online From Distributor\n\nBuy Online\nAdd...

In [191]:
Q2.columns

Index(['Category', 'EquipmentMake', 'EquipmentModel', 'Equipment', 'Engine',
       'EquipmentType', 'Year', 'Part Number', 'Part Details 1',
       'Part Details 2', 'Filter Type', 'Quantity', 'Availability'],
      dtype='object')

In [192]:
Q2.iloc[0]['Engine']   #\xa non breaking space

'Engine CUMMINS\xa06CTA8.3'

In [193]:
def Engine_Name(x):
    Name = x.split(" ")[1]
    Engine_Name = Name.split("\xa0")[0]
    return Engine_Name

In [194]:
def Engine_Model(x):
    Model = x.split(" ")[1]
    Engine_Model = Model.split("\xa0")[1]
    return Engine_Model

In [195]:
def Equipment_Type(x):
    Equipment_Type=x.replace("Equipment Type ","")
    return Equipment_Type

In [196]:
Q2['Engine Name'] = Q2['Engine'].apply(Engine_Name)

In [197]:
Q2['Engine Model'] = Q2['Engine'].apply(Engine_Model)

In [198]:
Q2['EquipmentType'] = Q2['EquipmentType'].apply(Equipment_Type)

In [199]:
Q2.drop("Engine",axis=1,inplace=True)

In [200]:
Output_Q2 = Q2[['Category', 'EquipmentMake', 'EquipmentModel', 'Equipment', 'Engine Name', 'Engine Model',
       'EquipmentType', 'Year', 'Part Number', 'Part Details 1',
       'Part Details 2', 'Filter Type', 'Quantity', 'Availability']]

In [208]:
Output_Q2

,Category,EquipmentMake,EquipmentModel,Equipment,Engine Name,Engine Model,EquipmentType,Year,Part Number,Part Details 1,Part Details 2,Filter Type,Quantity,Availability
0,Off Highway,AG CHEM EQUIPMENT,004,AG CHEM EQUIPMENT 004,CUMMINS,6CTA8.3,SPRAYER,NaN,P119373,AG CHEM EQUIPMENT,702463,"AIR FILTER, SAFETY",Qty Per Equipment\n1,Buy Online From Distributor\n\nBuy Online\nAdd...
1,Off Highway,AG CHEM EQUIPMENT,004,AG CHEM EQUIPMENT 004,CUMMINS,6CTA8.3,SPRAYER,NaN,P551381,AG CHEM EQUIPMENT,30098,"LUBE FILTER, SPIN-ON FULL FLOW",Qty Per Equipment\n1,Buy Online From Distributor\n\nBuy Online\nAdd...
2,Off Highway,AG CHEM EQUIPMENT,004,AG CHEM EQUIPMENT 004,CUMMINS,6CTA8.3,SPRAYER,NaN,P550440,AG CHEM EQUIPMENT,709935,"FUEL FILTER, SPIN-ON SECONDARY",Qty Per Equipment\n2,Buy Online From Distributor\n\nBuy Online\nAdd...
3,Off Highway,AG CHEM EQUIPMENT,004,AG CHEM EQUIPMENT 004,CUMMINS,6CTA8.3,SPRAYER,NaN,P181046,Donaldson,P181046,"AIR FILTER, PRIMARY ROUND",Qty Per Equipment\n1,Buy Online From Distributor\n\nBuy Online\nAdd...
4,Off Highway,AG CHEM EQUIPMENT,004,AG CHEM EQUIPMENT 004,CUMMINS,6CTA8.3,SPRAYER,NaN,P552072,AG CHEM EQUIPMENT,710195,"COOLANT FILTER, SPIN-ON SCA PLUS",Qty Per Equipment\n1,Buy Online From Distributor\n\nBuy Online\nAdd...
5,Off Highway,AG CHEM EQUIPMENT,004,AG CHEM EQUIPMENT 004,CUMMINS,6CTA8.3,SPRAYER,NaN,P553000,AG CHEM EQUIPMENT,711049,"LUBE FILTER, SPIN-ON FULL FLOW",Qty Per Equipment\n1,Buy Online From Distributor\n\nBuy Online\nAdd...
6,Off Highway,AG CHEM EQUIPMENT,004,AG CHEM EQUIPMENT 004,CUMMINS,6CTA8.3,SPRAYER,NaN,P550974,AG CHEM EQUIPMENT,516180,"FUEL FILTER, IN-LINE",Qty Per Equipment\n1,Buy Online From Distributor\n\nBuy Online\nAdd...
7,Off Highway,AG CHEM EQUIPMENT,004,AG CHEM EQUIPMENT 004,CUMMINS,6CTA8.3,SPRAYER,NaN,P551329,AG CHEM EQUIPMENT,709936,"FUEL FILTER, WATER SEPARATOR SPIN-ON TWIST&DRAIN",Qty Per Equipment\n1,Buy Online From Distributor\n\nBuy Online\nAdd...
8,Off Highway,AG CHEM EQUIPMENT,004,AG CHEM EQUIPMENT 004,CUMMINS,V504,SPRAYER,NaN,P551381,AG CHEM EQUIPMENT,30098,"LUBE FILTER, SPIN-ON FULL FLOW",Qty Per Equipment\n1,Buy Online From Distributor\n\nBuy Online\nAdd...

In [202]:
Output_Q2.to_excel(r"C:\Users\dell\Downloads\Python Test\Test 4\Output_Q2.xlsx", index=False)

# Q3

In [203]:
Q3=pd.read_excel(r"C:\Users\dell\Downloads\Python Test\Test 3\Input File.xlsx")

In [204]:
Q3

,ApplicationUniqueNumber,Cluster Id,Survivorship,Source,Equipment Manufacturer Name,Equipment Make,Equipment Model,Equipment Model Year Start,Equipment Serial Number Start,Equipment Model Year End,...,Market Segment,Market Sub Segment,Equipment Sub Type 2,Retain Golden,Decision,Comments,Review,Golden,Existing Golden,Column1
0,101527-1-1-1,142815.0,Golden,Catalog,Mack,Mack,-,-,-,NaN,...,NaN,NaN,Engine,NaN,NaN,NaN,Catalog team reviewed,101527-1-1-1,NaN,NaN
1,101527-1-1-1,142815.0,Cross Reference,Catalog,MACK,MACK,- -,-,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101527-1-1-1,NaN
2,101528-1-1-1,94522.0,Golden,Catalog,Mack,Mack,-,-,-,NaN,...,NaN,NaN,Engine,NaN,NaN,NaN,Catalog team reviewed,101528-1-1-1,NaN,NaN
3,101528-1-1-1,94522.0,Cross Reference,Catalog,MACK,MACK,- -,-,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101528-1-1-1,NaN
4,106826-1-1-1,73295.0,Golden,Catalog,Mack,Mack,-,-,-,NaN,...,NaN,NaN,Engine,NaN,NaN,NaN,Catalog team reviewed,106826-1-1-1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14605,20220701-219376,NaN,Cross Reference,Catalog,PETERBILT,PETERBILT,357,-,-,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20220701-219376,NaN
14606,20220701-536028,NaN,Cross Reference,Catalog,PETERBILT,PETERBILT,357,-,-,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20220701-219376,NaN
14607,20220701-219380,NaN,Golden,Catalog,Peterbilt,PETERBILT,379,-,-,NaN,...,NaN,NaN,-,NaN,NaN,NaN,IDQ Output,20220701-219380,NaN,NaN
14608,20220701-219380,NaN,Cross Reference,Catalog,PETERBILT,PETERBILT,379,-,-,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20220701-219380,NaN
14609,20220701-536114,NaN,Cross Reference,Catalog,PETERBILT,PETERBILT,379,-,-,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20220701-219380,NaN

In [205]:
Q3.columns

Index(['ApplicationUniqueNumber', 'Cluster Id', 'Survivorship', 'Source',
       'Equipment Manufacturer Name', 'Equipment Make', 'Equipment Model',
       'Equipment Model Year Start', 'Equipment Serial Number Start',
       'Equipment Model Year End', 'Equipment Serial Number End',
       'Engine Manufacturer', 'Engine Model', 'Engine Model Year Start',
       'Engine Model Year End', 'Equipment Type', 'Equipment Sub Type 1',
       'Market Segment', 'Market Sub Segment', 'Equipment Sub Type 2',
       'Retain Golden', 'Decision', 'Comments', 'Review', 'Golden',
       'Existing Golden', 'Column1'],
      dtype='object')

In [206]:
Q3[(Q3["Equipment Manufacturer Name"]=="Kenworth" )& (Q3['Equipment Model Year Start']>2008)& (Q3["Survivorship"]=="Golden")&(Q3["Review"]=="Catalog team reviewed")]

TypeError: '>' not supported between instances of 'str' and 'int'

In [209]:
Q3[(Q3["Equipment Manufacturer Name"]=="Kenworth" )& (Q3['Equipment Model Year Start'].astype(int)>2008)& (Q3["Survivorship"]=="Golden")&(Q3["Review"]=="Catalog team reviewed")]

ValueError: invalid literal for int() with base 10: '-'

In [210]:
Q3['Equipment Model Year Start'] =pd.to_numeric(Q3['Equipment Model Year Start'], errors='coerce') #This code uses the pd.to_numeric() method with the errors='coerce' parameter, which converts non-numeric values to NaN

In [211]:
Output_Q3=Q3[(Q3["Equipment Manufacturer Name"]=="Kenworth" )& (Q3['Equipment Model Year Start']>2008)& (Q3["Survivorship"]=="Golden")&(Q3["Review"]=="Catalog team reviewed")]

In [212]:
Output_Q3

,ApplicationUniqueNumber,Cluster Id,Survivorship,Source,Equipment Manufacturer Name,Equipment Make,Equipment Model,Equipment Model Year Start,Equipment Serial Number Start,Equipment Model Year End,...,Market Segment,Market Sub Segment,Equipment Sub Type 2,Retain Golden,Decision,Comments,Review,Golden,Existing Golden,Column1
240,110598-1-1-1,46728.0,Golden,Catalog,Kenworth,Kenworth,T440,2010.0,-,NaN,...,NaN,NaN,Truck Class 7-8 (HD),NaN,NaN,NaN,Catalog team reviewed,110598-1-1-1,NaN,NaN
242,110601-1-1-1,278753.0,Golden,Catalog,Kenworth,Kenworth,T470,2010.0,-,NaN,...,NaN,NaN,Truck Class 7-8 (HD),NaN,NaN,NaN,Catalog team reviewed,110601-1-1-1,NaN,NaN
534,125939-1-1-1,233858.0,Golden,Catalog,Kenworth,Kenworth,T680,2013.0,-,NaN,...,NaN,NaN,Truck Class 7-8 (HD),NaN,NaN,NaN,Catalog team reviewed,125939-1-1-1,NaN,NaN
552,151139-1-1-1,163804.0,Golden,Catalog,Kenworth,Kenworth,T800,2012.0,-,NaN,...,NaN,NaN,Truck Class 7-8 (HD),NaN,NaN,NaN,Catalog team reviewed,151139-1-1-1,NaN,NaN
554,151140-1-1-1,210199.0,Golden,Catalog,Kenworth,Kenworth,T800,2010.0,-,NaN,...,NaN,NaN,Truck Class 7-8 (HD),NaN,NaN,NaN,Catalog team reviewed,151140-1-1-1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14485,20210923-1471,501470.0,Golden,Catalog,Kenworth,Kenworth,T880,2014.0,NaN,NaN,...,NaN,NaN,Truck Class 7-8 (HD),NaN,NaN,NaN,Catalog team reviewed,20210923-1471,NaN,NaN
14507,20210923-1473,501472.0,Golden,Catalog,Kenworth,Kenworth,T880,2009.0,NaN,NaN,...,NaN,NaN,Truck Class 7-8 (HD),NaN,NaN,NaN,Catalog team reviewed,20210923-1473,NaN,NaN
14517,20210923-1474,501473.0,Golden,Catalog,Kenworth,Kenworth,T880,2010.0,NaN,NaN,...,NaN,NaN,Truck Class 7-8 (HD),NaN,NaN,NaN,Catalog team reviewed,20210923-1474,NaN,NaN
14559,20210923-1479,501478.0,Golden,Catalog,Kenworth,Kenworth,T880,2013.0,NaN,NaN,...,NaN,NaN,Truck Class 7-8 (HD),NaN,NaN,NaN,Catalog team reviewed,20210923-1479,NaN,NaN
14593,20220701-686121,NaN,Golden,Catalog,Kenworth,KENWORTH,T 800 B,2013.0,-,NaN,...,NaN,NaN,-,NaN,NaN,NaN,Catalog team reviewed,20220701-686121,NaN,NaN

In [213]:
Output_Q3.to_excel(r"C:\Users\dell\Downloads\Python Test\Test 4\Output_Q3.xlsx", index=False)

# Q4

In [214]:
data_Q4 =pd.read_excel(r"C:\Users\dell\Downloads\Python Test\Test 4\Input File.xlsx")

In [215]:
data_Q4.head()

,Application Unique Number,Equipment Start Year,Equipment Model,Equipment Make,Engine Model,Engine Manufacturer,OEM Manufacturer,OEM Part Number,Primary Flag,Short Part Number,...,Product level Internal Comment,Photo ID,Product Classification Code,Application Internal Comments,Product Type,Product Family,Classification,Quantity,Applicable Region,Application Ranking
0,107683-1-1-1,2007,T660,Kenworth,ISM07,Cummins,Donaldson,P616056,No,AF27688,...,NaN,NaN,ABE,NaN,Air Filter-Any Shape w/Unique Media,Air,NaN,1.0,NaN,NaN
1,107683-1-1-1,2007,T660,Kenworth,ISM07,Cummins,Cummins,4312011,Yes,CV50633,...,For more information about Closed Crankcase Ve...,NaN,VAD,NaN,Static Coalescer,Crankcase Ventilation,NaN,1.0,NaN,NaN
2,107683-1-1-1,2007,T660,Kenworth,ISM07,Cummins,Cummins,4070801,No,FS1003,...,NaN,NaN,FAF,NaN,Fuel Separator Spinon Stratapore,Fuel,NaN,1.0,NaN,NaN
3,107683-1-1-1,2007,T660,Kenworth,ISM07,Cummins,Cummins,3329289,Yes,FS1000,...,NaN,NaN,FAF,NaN,Fuel Separator Spinon Stratapore,Fuel,NaN,1.0,NaN,NaN
4,107683-1-1-1,2007,T660,Kenworth,ISM07,Cummins,Cummins,3843447,Yes,FS1282,...,NaN,NaN,FAF,NaN,NaN,Fuel,NaN,1.0,NaN,NaN

In [216]:
data_Q4.columns

Index(['Application Unique Number', 'Equipment Start Year', 'Equipment Model',
       'Equipment Make', 'Engine Model', 'Engine Manufacturer',
       'OEM Manufacturer', 'OEM Part Number', 'Primary Flag',
       'Short Part Number', 'Void Code', 'Product Status',
       'Product Display Type', 'Product level External Comment',
       'Product level Internal Comment', 'Photo ID',
       'Product Classification Code', 'Application Internal Comments',
       'Product Type', 'Product Family', 'Classification', 'Quantity',
       'Applicable Region', 'Application Ranking'],
      dtype='object')

In [217]:
Output_Q4 = data[data['Application Unique Number'].isin(['131702-272911-25393', '110645-1-1-1', '110647-1-1-1',"110650-1-1-1","110651-1-1-1"])]
Output_Q4

,Application Unique Number,Equipment Start Year,Equipment Model,Equipment Make,Engine Model,Engine Manufacturer,OEM Manufacturer,OEM Part Number,Primary Flag,Short Part Number,...,Product level Internal Comment,Photo ID,Product Classification Code,Application Internal Comments,Product Type,Product Family,Classification,Quantity,Applicable Region,Application Ranking
1198,110645-1-1-1,-,W900L,Kenworth,C16,Caterpillar,Blue Bird,5008414,No,AD27750,...,NaN,NaN,ABJ,air dryer,Air Dryer,Air,NaN,1.0,NaN,NaN
1199,110645-1-1-1,-,W900L,Kenworth,C16,Caterpillar,Nelson,87904F,No,3937557S,...,NaN,NaN,SAC,NaN,Power Steering Reservoir Element,Hydraulic,NaN,1.0,NaN,NaN
1200,110645-1-1-1,-,W900L,Kenworth,C16,Caterpillar,Donaldson,P534925,Yes,AF25248,...,NaN,NaN,AAC,NaN,Air (AAC),Air,NaN,2.0,NaN,NaN
1201,110645-1-1-1,-,W900L,Kenworth,C16,Caterpillar,Donaldson,P154575,No,AF4548,...,NaN,NaN,AAE,NaN,Air (AAE),Air,NaN,1.0,NaN,NaN
1202,110645-1-1-1,-,W900L,Kenworth,C16,Caterpillar,-,-,No,AF996NF,...,NaN,NaN,AAE,Added - GBB Application Data Enhancement - Mas...,Air (AAE),Air,NaN,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1264,110651-1-1-1,-,W900S,Kenworth,C9,Caterpillar,Fuller,17237,No,HF6107,...,NaN,NaN,HAD,optional,Hydraulic Spin-on Cellulose,Hydraulic,NaN,1.0,NaN,NaN
1265,110651-1-1-1,-,W900S,Kenworth,C9,Caterpillar,-,-,No,LF3566,...,NaN,NaN,LAB,Added - GBB Application Data Enhancement - Mas...,Oil Filter Cellulose Spinon,Lube,NaN,1.0,NaN,NaN
1266,110651-1-1-1,-,W900S,Kenworth,C9,Caterpillar,Caterpillar,1R1808,No,LF691A,...,NaN,NaN,LAB,NaN,Oil Filter Cellulose Spinon,Lube,NaN,1.0,NaN,NaN
1267,110651-1-1-1,-,W900S,Kenworth,C9,Caterpillar,-,-,No,LF9691A,...,NaN,NaN,LAA,Added - GBB Application Data Enhancement - Mas...,Oil Filter Combo Spinon,Lube,NaN,1.0,NaN,NaN
1471,131702-272911-25393,2009,T270,Kenworth,-,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [218]:
Output_Q4.to_excel(r"C:\Users\dell\Downloads\Python Test\Test 4\Output_Q4.xlsx", index=False)